/*-------css geral------*/
html{width: 100%;height: 100%;}
body{width: 100%;height: 100%;font-family: 'Arimo', sans-serif;}
footer{background-color:#434b55; color:#E5E5E5;}
* {margin: 0;padding: 0;list-style: none}
#centro {height:400px;position:absolute;top:35%;left:50%;margin-top:-10px;margin-left:-50px;}
.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix::after {clear: both;}
.linha::after {clear: both;}
.bgParallax {color:#FFF;margin: 0 auto;width: 100%;max-width: 1920px;position: relative;min-height: 100%;background-position: 50% 0;background-repeat: repeat;background-attachment: fixed;}

/*-------fim do css geral------*/


/*-------css da header------*/
#h-header{text-align: center;width: 100%;background-image: url("../img/mochileiro.jpg");opacity: 0.9;height: 100%;background-size: cover;}
.h-logo{float: left;}
.h-logo img{height: 60px;width: 60px;}
.h-container{}
.h-menu{opacity: 0.7;}
.h-nav{}
.h-tittle h1{padding-left: 6.4%; padding-top: 6.5%;font-size: 70px;color: #5a440f; text-decoration: underline;}
a:hover, a:focus{color: #FFD65D;text-decoration: none;}
a {overflow: hidden;color: #fff;text-decoration: none;}
#all {width: 775px;margin: 20px auto;}	 
ul {margin-bottom: 25px;}
ul li {margin-bottom: .5em;}
/* #animation-1 */
#animation-1 li{width: 200px;}
#animation-1 li a {display: block;padding: 10px 5px;width:190px;background-color: #fcd38d;}
/* #animation-2 */
#animation-2 li a {display: block;padding:  10px 5px;width: 200px;background-color: #7B6215;}
#animation-2 .off a{background-color: #7B6215;}
/* #animation-3 */
#animation-3 {width: 200px}
#animation-3 li{border: 1px solid #e1e1e1;height: 32px;overflow: hidden;position: relative;}
#animation-3 li a{display: block;padding:  7px 5px;color: #6F6F6F;background-color:#7B6215;}
#animation-3 li span {position: absolute;display: block;height: 35px;width: 200px;background-color: #e1e1e1;top: 35px;left: 0;z-index: -1}

/*----fim do css da header--*/

/*----css da primeira sessao--*/
#p-sessao{background-image: url("../img/back8.jpg"); background-size: cover;padding-bottom: 80px; width: 100%;text-align: center;}
.ps-img{width: 250px;height: 250px;}
.ps-tittle{text-align: center;padding-top: 80px;}
.ps-title h2,h3{font-family: 'Arimo', sans-serif;}
.ps-circle{padding-left: 5%; padding-top: 70px;padding-bottom: 70px;}
.image-wrapper {position: relative;height: 300px;width: 300px;margin:20px;border-radius: 100%;overflow: hidden;display: inline-block;}
.image-wrapper img {height: 100%;width: 100%;}
.image-wrapper .image-overlay {position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: rgba(19,135,118,.30);color:#fff;display: none;}
.image-wrapper:hover .image-overlay {display: block;}
.image-wrapper .image-overlay .content {position: absolute;top: 36%;left: 50%;height: 20px;width: 150px;margin-top: -10px;margin-left: -75px;}

@media screen and (max-width: 766px){
	.ps-circle{padding-left: 0px; padding-top: 20px;}
}
/*----fim do css da primeira sessao--*/

/*----css da segunda sessao---*/
#s-sessao{background-image: url("../img/back8.jpg"); background-size: cover;text-align: center;width: 100%;min-height: 100%;}
.ss-content{padding-left: 25%;padding-right: 25%;padding-bottom: 80px;}
.ss-tittle{text-align: center;padding-top: 80px;padding-bottom: 120px;}
.ss-rect{background-color: lightgray;margin-bottom: 80px;display: inline-block;}
.ss-rect cite{text-align: justify;}
.ss-rect img{width: 250px;height: 150px;}
.ss-img{width: 100%;height: 100%;padding: 5px;}
.citation{padding: 30px}
.ss-rect:hover{-webkit-transform: scale(1.3);-ms-transform: scale(1.3);transform: scale(1.3);-webkit-animation: rodaroda 0.5s linear alternate;}


/*----fim do css da segunda sessao--*/

/*----css da terceira sessao---*/
#t-sessao{background-image: url("../img/back7.jpg"); background-size: cover;text-align: center;width: 100%;min-height: 100%;}

/*----fim do css da segunda sessao--*/

/*----css da quarta sessao---*/
#q-sessao{background-image: url("../img/back9.jpg"); background-size: cover;text-align: center;width: 100%;min-height: 100%;}

/*----fim do css da segunda sessao--*/

/*----css do footer---*/
#h-footer{padding-top:1%;padding-bottom:1%;}
.i-imagem{padding-left:10px;}
.description{text-align:center;padding-top:2.6%;font-size:17.5px;}
@media screen and (max-width: 769px){
	.description{font-size:14px;}
	.i-imagem{padding-left: 44%;}
	.desenvolvimento p{text-align:center;}
}
@media screen and (max-width: 426px){
	.description{font-size:13px;}
	.i-imagem{padding-left: 39%;}
}
@media screen and (max-width: 350px){
	.description{font-size:13px;}
	.i-imagem{padding-left: 37%;}
}

/*----fim do css do footer---*/