/*-------css geral------*/
html{width: 100%;height: 100%;}
body{width: 100%;height: 100%;font-family: 'Arimo', sans-serif;}
footer{background-color:rgba(36,42,48,0.9); color:#E5E5E5;}
* {margin: 0;padding: 0;list-style: none}
.row{padding: 0px;}
.centro {height:400px;position:absolute;top:25%;left:45%;margin-top:-10px;margin-left:-50px;}
.center{text-align: center;padding-top: 20%;}
.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix::after {clear: both;}
.linha::after {clear: both;}
h2{margin: 0px;padding: 0px;color: azure;}
p{color: beige;}
.bgParallax {color:#FFF;margin: 0 auto;width: 100%;max-width: 1920px;position: relative;min-height: 100%;background-position: 50% 0;background-repeat: repeat;background-attachment: fixed;}
.colored-line{background: rgba(255,162,0,1.00);margin: auto;display: block;width: 80px;height: 2px;margin-top: 20px;}
/*-------fim do css geral------*/


/*-------css da header------*/
#h-header{text-align: center;width: 100%;background-image: url("../img/mochileiro.jpg");opacity: 0.9;height: 100%;background-size: cover;}
.h-logo{float: left;}
.h-logo img{height: 60px;width: 60px;}
.h-container{}
.h-menu{opacity: 0.7;}
.h-nav{}
.hs-img img{width: 200px;height: 200px}
.h-tittle h1{padding-left: 6.4%; padding-top: 6.5%;font-size: 70px;color: #5a440f; text-decoration: underline;}
a:hover, a:focus{color: #FFD65D;text-decoration: none;}
a {overflow: hidden;color: #fff;text-decoration: none;}
#all {width: 775px;margin: 20px auto;}	 
ul {margin-bottom: 25px;}
ul li {margin-bottom: .5em;}
/* #animation-1 */
#animation-2 li a {display: block;padding:  10px 5px;width: 250px;background-color: #7B6215;transition: 0.5s;cursor: pointer;}
#animation-2 a:hover{background-color: #7B6215;width: 300px;}
.nav ul {list-style: none;background-color: #7B6215;text-align: center;padding: 0;margin: 0;}
.nav li {line-height: 20px;height: 30px;border-bottom: 1px solid #FFD65D;}
.nav a {text-decoration: none;color: #fff;display: block;transition: .3s background-color;}
.nav a:hover {background-color: #FFD65D;}
.nav a.active {background-color: none;color: #FFD65D;cursor: default;}
 
/*----fim do css da header--*/

/*----css da p sessao--*/
#p-sessao{padding-bottom: 20px; width: 100%;text-align: center;background-color:rgba(212,165,70,.65); }
.ps-img{width: 250px;height: 250px;}
.ps-tittle h2{padding-top: 80px;font-style: italic;}
.ps-title h2,h3,p{font-family: 'Arimo', sans-serif;text-align: center;margin-top: 0px;color:white;}
.ps-tittle p{padding: 40px 25% 20px 25%;}
.ps-circle{padding-left: 5%; padding-top: 70px;padding-bottom: 70px;}
.image-wrapper {position: relative;height: 300px;width: 300px;margin:20px;border-radius: 100%;overflow: hidden;display: inline-block;}
.image-wrapper img {height: 100%;width: 100%;}
.image-wrapper .image-overlay {position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: rgba(19,135,118,.30);color:#fff;display: none;}
.image-wrapper:hover .image-overlay {display: block;}
.image-wrapper .image-overlay .content {position: absolute;top: 36%;left: 50%;height: 20px;width: 150px;margin-top: -10px;margin-left: -75px;}

/*----css da s sessao---*/
#s-sessao{background-color: rgba(212,165,70,.65);text-align: center;width: 100%;min-height: 100%;}
.ss-content{padding-left: 25%;padding-right: 25%;padding-bottom: 80px;}
.ss-tittle{text-align: center;padding-top: 80px;padding-bottom: 120px;}
.ss-tittle h2{font-size:36px;font-style: italic;}
.ss-rect{background-color: lightgray;margin-bottom: 80px;display: inline-block;transition: 1.5s;}
.ss-rect cite{text-align: justify;}
.ss-rect img{width: 250px;height: 150px;}
.ss-img{width: 100%;height: 100%;padding: 5px;}
.citation{padding: 30px}
.ss-rect:hover{-webkit-transform: scale(1.3);-ms-transform: scale(1.3);transform: scale(1.3);transition: 1s;cursor: pointer;}

/*----css da t sessao---*/
#t-sessao{background-image: url("../img/back7.jpg"); background-size: cover;text-align: center;width: 100%;min-height: 100%;}
.ts-tittle h2{font-size:36px;}


/*----css da v sessao---*/
#v-sessao{background-image: url("../img/back6.jpg"); background-size: cover;text-align: center;width: 100%;min-height: 100%;}
.vs-content{padding-top: 80px;padding-left: 25%;padding-right: 25%;}
.vs-tittle h2{font-size:36px;}
.vs-tittle p{font-size: 18px;padding: 20px;}


/*----css da r sessao---*/
#r-sessao{text-align: center;width: 100%;height: 300px;background-color: rgba(36,42,48,0.9);}
.rs-content{display: inline-block;width: 100%;height: 100%;}
.box{font-size: 20px;color: white;text-align: center;display: inline-block;width: 300px; height: 250px;padding:80px 40px;}
.rs-img{width: 60px;height: 60px;}

/*----css da PAGINA TRIPS---*/

/*----css da j sessao---*/
#j-header{background-image: url("../img/back8.jpg");background-size: cover;background-position: center;width: 100%;height: 350px}
.j-center{text-align: center;padding-top: 0%;padding-left: 15%;}

/*----css da g sessao---*/
#g-sessao{text-align: center;width: 100%;height: 700px;background-color: #778a96;}
#g-sessao h1{margin: 0;color: white;padding: 80px 0px 20px 0px;}
.swiper-container {width: 100%;padding-top: 80px;padding-bottom: 80px;}
.swiper-slide {background-position: center;background-size: cover; width: 300px;height: 300px;}

/*----css da PAGINA SOBRE---*/

/*----css da k sessao---*/
#k-header{background-image: url("../img/back2.jpg");background-size: cover;background-position: center; width: 100%;height: 350px}


/*----css do footer---*/
#h-footer{padding-top:1%;padding-bottom:1%;}
.hf-content{text-align: center;padding:0px 22%;}
.hf-box{border-top:1px solid gray;padding-top: 20px;}
.description{text-align:center;padding-top:2%;font-size:12px;}

/*----css de media querys---*/
@media screen and (max-width: 769px){
	.description{font-size:13px;}
	.desenvolvimento p{text-align:center;}
}
@media screen and (max-width: 426px){
	.description{font-size:12px;}
}
@media screen and (max-width: 350px){
	.description{font-size:12px;}
}
@media screen and (max-width: 766px){
	.ps-circle{padding-left: 0px; padding-top: 20px;}
}
@media screen and (min-width: 600px) {
    .nav li {width: 120px;border-bottom: none;height: 30px;line-height: 30px;font-size: 1.4em;}
/* Option 1 - Display Inline */
  .nav li {display: inline-block;margin-right: -4px;padding-top: 10px;}
}